
<!-- card primary -->
<div class="card--primary">
  
    <div class="information">
        <div class="information--icon">
            <span class="icon--container">
                <svg class="icon icon--secondry">
                  <use xlink:href="icons/logo-Instagram.svg"></use>
                </svg>
              </span>
              <p>Location</p>
              <h5>Ikeja Lagos, Nigeria</h5>
        </div>
    <div class="information">
        <div class="information--icon">
            <span class="icon--container">
                <svg class="icon icon--secondry">
                  <use xlink:href="icons/logo-Instagram.svg"></use>
                </svg>
              </span>
              <p>Date</p>
              <h5>29 February, 2022</h5>
        </div>
    <div class="information">
        <div class="information--icon">
            <span class="icon--container">
                <svg class="icon icon--secondry">
                  <use xlink:href="icons/logo-Instagram.svg"></use>
                </svg>
              </span>
              <p>Vaccine Type</p>
              <h5>Mordena</h5>
        </div>
        <div>
          <button class="btn btn--submit">
            submit
           </button>
        </div>

<!-- card group -->
<div class="group">
  <span>
  <img src="../images/Moderna_logo.png" alt="images">
  <img src="../images/Pfizer_logo.png" alt="images">
  <img src="../images/zeneca-logo.png" alt="images">
  <img src="../images/sinovac-logo.png" alt="images">
</span>
</div>


<!-- card secondry -->

<!-- <div class="secondry">
  <header>
    <h3>Check your COVID-19 result on our Database</h3>
  </header>

  <div class="rectangle">
    <form action="">
      <input type="text">
      <input type="number" placeholder="NIK Number">
      <button class="btn btn--check">
        Check
      </button>
    </form>
    <div class="rectangl--text">
      <p>Need a certificate for your COVID-19 result? Please click here</p>
    </div>
  </div>
</div> -->


<!-- card box--card -->

<div class="box--card">
  <span class="icon--container">
    <svg class="icon icon--secondry">
      <use xlink:href="../icon/search.svg"></use>
    </svg>
  </span>
  <div class="card--title">
  <h4>Oyindamola Maja</h4>
  <p>Badagry, Lagos</p>
</div>
<p>“Been stressing about a close centre
  to get the covid-19 vaccine, until
  i tried Vaccination.ng”</p>
</div>

<!-- card email -->

<div class="card--email">
  <h2>Get a quote</h2>
  <p>Please do enter your email address below</p>
  <div class="input-group">
    <input type="email" class="input" placeholder="lenux.ng@gmail.com" />
    <button class="btn btn--accant">
      <!-- <img class="icon" src="../icon/search.svg" alt="icon"> -->
      <span class="icon--container">
        <svg class="icon icon--primary">
          <use xlink:href="../icon/search.svg"></use>
        </svg>
      </span>
    </button>
  </div> 
</div>