<footer>
    <div class="footer--section">
        <h3>Vaccination.ng</h3>
        <ul class="list">
            <li><h4>Home</h4></li>
            <li>Services</li>
            <li>Schedule</li>
            <li>Contact us</li>
        </ul>
        <span class="icon--container">
            <svg class="icon icon--secondry">
              <use xlink:href="../icon/search.svg"></use>
            </svg>
          </span>
        <span class="icon--container">
            <svg class="icon icon--secondry">
              <use xlink:href="../icon/search.svg"></use>
            </svg>
          </span>
        <span class="icon--container">
            <svg class="icon icon--secondry">
              <use xlink:href="../icon/search.svg"></use>
            </svg>
          </span>
        <span class="icon--container">
            <svg class="icon icon--secondry">
              <use xlink:href="../icon/search.svg"></use>
            </svg>
          </span>
    </div>
</footer>