
.section--content{
    height: 1095px;
    background-color: #0000001A;
  }
  .section--content h2{
    color: var(--color-accent);
    font-weight: 700px;
    font-size: 24px;
    margin-top: 20px;
  }
  .number--img{
    background-color:var(--color-primary) ;
    width: 289px;
    height: 418px;
    border-radius: 15.21px;
    margin-top: 30px;
    margin-left: 100px;
  }
  .input--number h4{
    color: var(--color-accent);
  }
  .number--img img{
    width: 286px;
    height: 365px;
  }
  .number--img h5{
    color: var(--color-heading);
  }
  .number--img .btn-very{
    color: var(--color-heading);
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 50px;
  }
  form{
    margin-top: 30px;
    padding: 10px;
  }
  form p{
    color: var(--color-accent);
    font-size: 14px;
  }
  form input{
    width: 305px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #0B153C26;
    margin-top: 20px;
  }
  .btn-s{
    width: 150px;
    height: 50px;
    color: var(--color-heading);
    margin-bottom: 20px;
    margin-left: 80px;
  }
  .btn-sm{
    width: 305px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left:10px;
  }
  .input-but2{
    font-weight: 600px;
    font-size: 14px;
    display:inline-block;
  }
  .p-link a{
    color: var(--color-secondary);
    text-decoration: none;
  }
  .paragraph{
    font-weight: 500px;
    font-size: 14px;
    color:#00000080;
    margin-top: 20px;
  }
  .input--number h4{
    margin-top: 20px;
  }
  @media screen and (min-width:390px) {
    .section--content{
        text-align: center;
    }
    .input--number{
        text-align: center;
      }

  }
  @media screen and (min-width:768px) {
    .section--content{
        height: 1300px;
      }
    .section--content h2{
        font-size: 36px;
        margin-top: 20px;
      }
      .number--img{
        width: 380px;
        height: 550px;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 78px;
      }
      .number--img img{
        width: 380px;
        height: 497px;
      }
      .input--number{
        float: left;
      }
      form p{
        font-size:20px;
      }
      .input-t-t{
        width: 650px;
        height: 70px;
        border-radius: 20px;
        border: none;
      }
      .input--number p{
        float: left;
        margin-left: 80px;
      }
      .input--number h4{
        float: left;
        margin-left: 80px;
        margin-top: 20px;
      }
      .paragraph{
        font-size: 20px;
        color:#00000080;
        margin-top: 20px;
      }
      .btn-sm{
        width: 652px;
        height: 64px;
        margin-bottom: 20px;
      }
      .input-but1 input{
        width: 400px;
        height: 70px;
        border-radius: 20px;
        float: left;
        margin-left: 70px;
      }
      .btn-s{
        margin-top: 20px;
        width: 200px;
        height: 70px;
        border-radius: 20px;
        margin-right: 5px;
      }
  }
  @media screen and (min-width:1024px) {
    .section--content{
        height: 750px;
      }
      .section--content h2{
        font-size: 48px;
      }
      .content-t{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
      }
      .number--img{
        width: 380px;
        height: 550px;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 78px;
      }
      .number--img img{
        width: 380px;
        height: 512px;
      }
      .input--number{
        float: left;
        width: 654px;
        height: 455px;
      }
      form p{
        font-size:20px;
      }
      .input-t-t{
        width: 650px;
        height: 70px;
        border-radius: 20px;
        border: none;
      }
      .input--number input{
        width: 600px;
        height: 70px;
        padding: 10px;
      }
      .input--number p{
        margin-left:20px;
      }
      .input--number h4{
        margin-left: 20px;
        margin-top: 20px;
      }
      .paragraph{
        font-size: 20px;
        color:#00000080;
        margin-top: 20px;
      }
      .btn-sm{
        width: 620px;
        height: 69px;
      }
      .input-but1 input{
        width: 400px;
        height: 70px;
        border-radius: 20px;
        margin-left: 20px;
        flex: 1;
        padding: 10px;
      }
      .btn-s{
        margin-top: 45px;
        width: 200px;
        height: 70px;
        border-radius: 20px;
      }
      .input-but1 {
        display: flex;
        align-items: center;
        gap: 10px; 
        margin-top: 140px;
      }
  }